body{
    overflow: hidden;
}

body { 
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

#desc{
    text-align: center;
}

.center-input{
    margin: 0 auto;
    margin-bottom: 0 !important;
    width: 50%;
}
